  <header>
  <h1>Flats</h1>
  <h3>Boas vindas ao sistema de locação de apartamentos</h3>
  <nav>
    <% if property_owner_signed_in? %>
      <div><%= link_to 'Cadastrar Imóvel', new_property_path %></div>
    <% end%>
    <div><%= link_to 'Tipos de Imóveis', property_types_path %></div>
    <div><%= link_to 'Regiões', regions_path %></div>
  </nav>
</header>

<aside>
  <h2>Filtrar por tipo:</h2>
  <nav>
    <% @property_types.each do |property_type| %>
      <div><%= link_to property_type.description, property_type_path(property_type.id) %></div>
    <% end %>
    <% @regions.each do |region| %>
      <div><%= link_to region.property_location, region_path(region.id) %></div>
    <% end %>
  </nav>
</aside>

<%= render partial: "shared/property", locals: {properties: @properties }%>

