<header>
  <h1>Flats</h1>
  <h3>Boas vindas ao sistema de locação de apartamentos</h3>
  <nav>
    <%= link_to 'Cadastrar Imóvel', new_property_path %>
    <%= link_to 'Tipos de Imóveis', property_types_path %>
    <%= link_to 'Regiões', regions_path %>
  </nav>
</header>

<aside>
  <h2>Filtrar por tipo:</h2>
  <nav>
    <% @property_types.each do |property_type| %>
      <%= link_to property_type.description, property_type_path(property_type.id) %>
    <% end %>
  </nav>
</aside>

<section>
  <% if  @properties.empty? %>
    <div>Nenhum imóvel disponível</div>
  <% end %>
  <% @properties.each do |property| %>
    <%= link_to(property.title, property) %>
    <%= property.description %>
    Quartos: <%= property.rooms %>
  <% end %>
</section>
